@tailwind base;
@tailwind components;
@tailwind utilities;

.term_and_condition_point {
  font-weight: 700;
}
.ant-select-item {
  padding: 4px !important;
}

.ant-modal-content {
  border-radius: 5px !important;
  background: transparent !important;
}

.ant-modal-header,
.ant-modal-footer {
  height: 0px !important;
  padding: 0px !important;
  color: white !important;
  background: #040403 !important;
  border: none !important;
  border-radius: none !important;
}

.ant-modal-confirm-body-wrapper {
  background: #26282c;
  padding: 20px;
  color: white;
}

.ant-modal-confirm-body,
.ant-modal-confirm-title,
.ant-modal-confirm-content {
  color: white !important;
  margin-top: 10px;
}

.ant-modal-confirm-btns > .ant-btn-default {
  background: #49de80;
  border: none;
  margin-right: 10px;
}

.ant-modal-confirm-btns > .ant-btn-dangerous {
  background: #d9363e !important;
  color: white !important;
}

.ant-modal-body {
  padding: 0px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #9ddbad !important;
  border-color: #9ddbad !important;
}

.ant-checkbox-inner {
  border-radius: 100% !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  display: none !important;
}

.active.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border-top: inherit !important;
}
.ant-collapse {
  background: inherit !important;
  color: inherit !important;
  border: none !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #292931 !important;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: inherit !important;
  padding-left: 0px !important;
}

.ant-collapse-content {
  background: inherit !important;
  color: inherit !important;
  border-top: 1px solid #292931 !important;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0px !important;
  padding-top: 10px !important;
  color: inherit;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.ant-input, .ant-picker, .ant-select-selector {
  border-radius: 5px !important;
  border-color: #26282c !important;
  background: #26282c !important;
  color: white !important;
  height: 40px !important;
}
.ant-input-affix-wrapper, .ant-select-selector {
  border-color: #26282c !important;
  background: #26282c !important;
}
.ant-input:hover,
.ant-input:focus,
.ant-picker-focused:hover,
.ant-picker-focused:focus
.ant-input-focused,.ant-picker-focused, .ant-select-selector:focus {
  border-color: #49de80 !important;
  border-right-width: 1px;
}
.ant-select-selection-item{
  display: flex;
  align-items: center;
}
.ant-picker-suffix{
  color: white
}
.ant-form-item-label > label {
  color: white !important;
}

.ant-modal {
  margin: 0 auto;
}
.ant-modal > .ant-input {
  border-color: #49de80 !important;
}

@media only screen and (max-width: 425px) {
  .ant-modal {
    margin: 0 !important;
  }
}

.ant-slider:hover .ant-slider-track,
.ant-slider .ant-slider-track {
  background-color: #49de80 !important;
}

.ant-slider:hover .ant-slider-handle {
  border-color: #49de80 !important;
  background: #49de80 !important;
}

.ant-badge-count {
  width: 30px !important;
  height: 20px !important;
  border: none !important;
}

strong{
  color: white;
  margin-top: 30px;
  font-size: 20px;
}
.ant-picker-input > input{
  color: white !important
}
.google_login-wrapper{
  
}

